@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom scrollbar for modern browsers */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #e5e7eb; /* gray-200 */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d1d5db; /* gray-300 */
  }

  /* Support for Firefox (partially) */
  * {
    scrollbar-width: thin;
    scrollbar-color: #e5e7eb transparent;
  }
}